.h-wrapper {
  color: white;
  z-index: 99;
}

.h-container {
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: var(--secondary);
}

.h-menu.hidden {
  display: none;
}

.h-menu.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  padding: 10px;
  z-index: 100;
}

.h-menu {
  gap: 2rem;
  overflow: hidden;
}

.h-menu > *:hover {
  cursor: pointer;
}

.menu-icon {
  display: none;
}

/* Media Query for Medium Screen */
@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }
  .h-container > img {
    width: 50px;
  }
}
